* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0);
}

button {
  background-color: rgba(1, 1, 1, 0.5);
  outline-style: none;
  border: none;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  border-radius: 0px;
  box-shadow: inset 2 3 6 2 rgba(255, 255, 255, 0.1);
  text-shadow: none;
}

button#logout {
  border-radius: 75px 0px 0px 0px;
  border-top: 0.1px solid rgba(255, 255, 255, 1);
  border-left: 0.1px solid rgba(255, 255, 255, 1);
  margin: 0px 0px 0px 0px;
  transition: 0.3s;
}

button#suspend {
  border-radius: 0px 75px 0px 0px;
  border-top: 0.1px solid rgba(255, 255, 255, 1);
  border-right: 0.1px solid rgba(255, 255, 255, 1);
  margin: 0px 0px 0px 0px;
  transition: 0.3s;
}

button#shutdown {
  border-radius: 0px 0px 0px 75px;
  border-bottom: 0.1px solid rgba(255, 255, 255, 1);
  border-left: 0.1px solid rgba(255, 255, 255, 1);
  margin: 0px 0px 0px 0px;
  transition: 0.3s;
}

button#reboot {
  border-radius: 0px 0px 75px 0px;
  border-bottom: 0.1px solid rgba(255, 255, 255, 1);
  border-right: 0.1px solid rgba(255, 255, 255, 1);
  margin: 0px 0px 0px 0px;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 0;
  background-size: 25%;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#logout {
  border-radius: 75px 75px 75px 75px;
  margin: -50px 50px 50px -50px;
}

button:hover#suspend {
  border-radius: 75px 75px 75px 75px;
  margin: -50px -50px 50px 50px;
}

button:hover#shutdown {
  border-radius: 75px 75px 75px 75px;
  margin: 50px 50px -50px -50px;
}

button:hover#reboot {
  border-radius: 75px 75px 75px 75px;
  margin: 50px -50px -50px 50px;
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
